<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim animi blanditiis aliquam tenetur totam velit similique quam, laudantium dignissimos quisquam.</p>
  
    <footer class="media">
      <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jone Smith</h3>
        <p class="quote__organization">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex a expedita dignissimos laborum eius amet provident quos reprehenderit nesciunt debitis?</p>
      </div>
    </footer>  

  </blockquote>  