<div style="width: 50%; padding:4rem">
    <div class="plan ">
      <div class="card card--secondary plan--popular">
          <header class="card__header">
            <h3 class="plan__name"><!-- 用H3 是因为这个卡片就处于第三极的位置 --> Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">10% OFF</span>
            <span class="plan__description">   Easy start on the trip</span>
            </header>
          <div class="card__body">
            <ul class="list  list--tick">
              <!-- /* 区域名和结构名用双下划线分开 它不是另一个单独存在的元素或者组件，它只是存在于这个列表list中的 */ -->
               <li class="list__item">Unlimited Websites</li>
               <li class="list__item">Unlimited Bandwidth</li>
               <li class="list__item">100 GB SSD Storage</li>
               <li class="list__item">3 GB RAM</li>
             </ul>
             <button class="btn btn--outline btn--block">Buy now</button>
          </div>
      </div>
    </div>
  </div>